:root{
    --primaryColor: hsl(199, 100%, 33%);
    --secondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0 , 100%);
    --blackColor: hsl(201, 33% , 16%);
    --textColor: hsl(240, 4%, 40%);
    --whiteColorDeam: hsl(0, 0% , 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor:rgb(239, 239, 239);
    --bodyColor: rgb(240, 240 , 246);
    --carddBG: rgb(225, 225 , 235);
    --cardHover: rgba(242, 255, 225, 0.74);
    

  }
  .main{
    width: 100%;
    .secTittle{
        .tittle{
            position: relative;
            width: max-content;
            color: var(--textColor);
            margin: 1rem 0;
            z-index: 2;
        }
    }
    .secContent{
        justify-content: center;
       
        gap: 1.5rem;

        .singleDestination{
            display: grid;
            height: 100%;
            padding: 1rem;
            row-gap: 10px;
            border-radius: 10px;
            align-items: center;
            background: white;
            box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
            overflow: hidden;
            &:hover{
                background: var(--carddBG);
                box-shadow: 1 2px 4px rgba(85, 85, 114, 0.549); 
                transition: .3s ease;
            }
            .imgDiv{
                height: 100%;
                width: 100%;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: .2s ease;
                    border-radius: 5px;
                }
                &:hover{
                    img{
                      transform: scale(1.1);
                      transition: .2s ease;
                    }
                }
            }
            .cardInfo{
                padding: 1rem;
                .destTittle{
                    color: black;
                    font-size: 1.2rem;
                }
                .continent{
                    gap: .5rem;
                    .icon{
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--textColor);
                    }
                    .name{
                        color: var(--textColor);
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
                .fees{
                    color: var(--textColor);
                    width: 100%;
                    padding: 1px;
                    justify-content: space-between;
                    margin: 1rem 0;
                    border-top:2.5px solid var(--greyText) ;
                    border-bottom:2.5px solid var(--greyText) ;
                    font-size: 1.5rem;
                    color: black;
                }
            }
           .desc{
            font-size: 14px;
            color: var(--textColor);
            font-weight: 600;
           }
           .btn{
            margin-top: 1rem;
            color: white;
            font-weight: 600;
            justify-content: space-between;
            gap: .5rem;

            .icon{
                align-self: center;
                font-size: 18px;
            }
           }
        }
    }
  }

  @media screen  and (min-width:500px){
    .tittle{
        font-size: 1.5rem;
        &::after{
            width: 155px !important;
        }
    }
    
    .secContent{
        grid-template-columns: repeat(2,1fr);
        .singleDestination{
            height: auto;
        }
    }
    }

    @media screen  and (min-width:840px){
        .secContent{
            grid-template-columns: repeat(3,1fr);
            .singleDestination{
                height: auto;
            }
        }
    }
    
    

  