:root{
    --primaryColor: hsl(199, 100%, 33%);
    --secondryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0 , 100%);
    --blackColor: hsl(201, 33% , 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0% , 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor:#efefef;
    --bodyColor: rgb(240, 240 , 246);
    --carddBG: rgb(225, 225 , 235);

  }
.booking-form-container {
    background-image: url('../../Assets/PURPLE.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.booking-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    h2{
        text-align: center;
    }
    
}

.form-group {
    margin-bottom: 15px;
    color: black;
    font-weight: 900;
    label{
        color: black;
        font-weight: 800;
    }
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    placeholder{
       color: var(--textColor);
        font-weight: 900;
    }
}

.submit-btn {
    // background-color: hsl(204, 70%, 53%);
    background-color: var(--primaryColor);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.submit-btn:hover {
    background-color: #2980b9;
}
